{% load static %}

{% for p in posts %}
<section data-bs-version="5.1" class="features16 cid-tzVjbxlXj9" id="features17-6">
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-5">
                    <div class="image-wrapper">
                        <img src="{{ p.image.thumb.url }}" alt="Mobirise Website Builder">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>{{p.titulo}}</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            {{ p.corpo|truncatechars:250}}</p>
                    </div>
                     <div class="mbr-section-btn align-left">
                        <a class="btn btn-primary display-4" href="{% url 'postDetail' p.slug %}">Ler mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}

